* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}
/*Right side of the UI*/
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0ea13a;
}
/*Right side of the UI*/
.right {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginform {
    width: 360px;
    background: white;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}
.loginform h2 {
    color: #177c17;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 10px;  
}
.subtitle {
    font-size: 12px;
    color: #748574;
}
.loginform form {
    text-align: left;
}
.loginform label {
    font-size: 13px;
    font-weight: 600;
}
.loginform input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 14px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}
button {
    color: rgb(235, 235, 235);  
    background-color: #0a550a;     
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    transform: backgraound 0.3s;
}
.loginform button:hover {
    background-color: #177c17;
}
.forgot {
    display: block;
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
    color: #1e7f1e;
    text-decoration: none;
}
